.navigation {
  display: flex;
  gap: 20px;
  padding: 10px 20px;

  border-radius: 8px;
}

.link {
  text-decoration: none;
  color: #ebe9e9;
  font-weight: 500;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.link:hover {
  color: #ededf0;
}

.activeLink {
  color: #0026ff;
  font-weight: bold;
  border-bottom: 2px solid #1d11c4;
}
